{% extends 'base.html' %}
{% block body %}


<div class="container">
  <div class="row">
    <div class="col-6">
      <form class="shadow p-3" method="post">
        {% csrf_token %}
        <h3>Add Your Tasks</h3>
        <label for="username" class="form-label mt-3">Your user name</label>
        <input type="text" class="form-control" id="username" name="username" required>
        <label for="task" class="form-label">Task Name</label>
        <input type="text" class="form-control" id="task" name="task">
        <label for="priority" class="form-label">Priority</label>
        <input type="number" class="form-control" id="priority" name="priority">
        <label for="date" class="form-label">Date</label>
        <input type="date" class="form-control" name="date" id="date">
        <button type="submit" class="btn btn-primary my-3">Submit</button>
      </form>
    </div>

    <div class="col-6 mt-2">
      <h3>Tasks to be completed...</h3>
      {% for i in task %}
      <div class="card shadow mt-2">
        <div class="card-body">
          <h5 class="card-title">{{ i.name }}</h5>
          <p><b>{{ i.priority }}</b></p>
          <p><b>{{ i.date }}</b></p>
          <a class="btn btn-danger" href="{% url 'todoapp:delete' i.id %}">Done</a>
          <a class="btn btn-warning" href="{% url 'todoapp:update' i.id %}">Update</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}